{% extends "base.html" %}

{% block subtitle %}Get Help{% endblock %}

{% block page_content %}
<div class="container">
    <div class="well">
        <h1>HELP!</h1>
        <p class="lead">Platform to facilitate consultations between users.</p>
    </div>
    <div class="container-fluid well">
    	<!--Add a box representing consult for every valid consult-->
    	{% for consult in consults %}
        <a href="join_class/{{consult.consult_id}}" {% if consult in consults_im_attending %}class="btn btn-default disabled"{% else %}class="btn btn-default"{% endif %}>
    		<div class="col-md-3 col-sm-6">
				<div class="mod-name">
					<h2>{{ consult.module_code }}</h2>
				</div>
				<div class="consult-info">
					<p>{{ consult.consult_date }}</p>
					<p>{{ consult.venue }}</p>
					<p>{{ User.query.filter_by(user_id=consult.teacher_id).first().name.title() }}</p>
					<p>{{ consult.attendees.all()|length }}/{{ consult.num_of_students }} Slots Filled</p>
				</div>
    		</div>
    	</a>
        {% endfor %}
    </div>
</div>
{% endblock %}