{% extends "base.html" %}

{% block subtitle %}Get Help{% endblock %}

{% block page_content %}
<div class="container">
    <div class="well">
        <h1>HELP!</h1>
        <p class="lead">Platform to facilitate consultations between users.</p>
    </div>
    <div class="container-fluid well">
    	<!--Add a box representing consult for every valid consult-->
    	<a href="#">
    		<div class="col-md-3 col-sm-6">
    			<div class="thumbnail text-center">
    				<div class="mod-name">
    					<h2>MA1101R</h2>
    				</div>
    				<div class="consult-info">
    					<p>10 June 2016</p>
    					<p>COM1 Discussion Room</p>
    					<p>Prof. Ang Zhen Xuan</p>
    					<p>0/10 Slots Filled</p>
    				</div>
    			</div>
    		</div>
    	</a>
    	<a href="#">
    		<div class="col-md-3 col-sm-6">
    			<div class="thumbnail text-center">
    				<div class="mod-name">
    					<h2>MA1101R</h2>
    				</div>
    				<div class="consult-info text-center">
    					<p>10 June 2016</p>
    					<p>COM1 Discussion Room</p>
    					<p>Prof. Ang Zhen Xuan</p>
    					<p>0/10 Slots Filled</p>
    				</div>
    			</div>
    		</div>
    	</a>
    	<a href="#">
    		<div class="col-md-3 col-sm-6">
    			<div class="thumbnail text-center">
    				<div class="mod-name">
    					<h2>MA1101R</h2>
    				</div>
    				<div class="consult-info text-center">
    					<p>10 June 2016</p>
    					<p>COM1 Discussion Room</p>
    					<p>Prof. Ang Zhen Xuan</p>
    					<p>0/10 Slots Filled</p>
    				</div>
    			</div>
    		</div>
    	</a>
    	<a href="#">
    		<div class="col-md-3 col-sm-6">
    			<div class="thumbnail text-center">
    				<div class="mod-name">
    					<h2>MA1101R</h2>
    				</div>
    				<div class="consult-info text-center">
    					<p>10 June 2016</p>
    					<p>COM1 Discussion Room</p>
    					<p>Prof. Ang Zhen Xuan</p>
    					<p>0/10 Slots Filled</p>
    				</div>
    			</div>
    		</div>
    	</a>
    </div>
</div>
{% endblock %}