{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}My Schedules{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/main.css')}}">
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="well">
        <h1>HELP!</h1>
        <p class="lead">Platform to facilitate consultations between users.</p>
    </div>  

    <!--Form-->
    <div class="container-fluid well">
        <div class="get-help col-md-6 col-sm-6 col-xs-6">
            <h2>Get Help</h2>

            {% for consult in get_help %}
            <div class="container-fluid well">
                <div class="row">
                    <div class="col-md-3">
                        {{consult.module_code}}
                    </div>
                    <div class="col-md-3">
                        {{ User.query.filter_by(user_id=consult.teacher_id).first().name.title() }}
                    </div>
                    <div class="col-md-3">
                        {{ consult.consult_date }}<br>
                        {{ consult.start.strftime("%I:%M %p") }} - 
                        {{ consult.end.strftime("%I:%M %p") }}
                    </div>
                    <div class="col-md-3">
                        {{ consult.venue }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <a href="quit_class/{{consult.consult_id}}" class="btn btn-block btn-default" aria-label="Quit">
                      <strong>Quit</strong>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="give-help col-md-6 col-sm-6 col-xs-6">
            <h2>Provide Help</h2>
            {% for consult in give_help %}
            <div class="container-fluid well">
                <div class="row">
                    <div class="col-md-3">
                        {{consult.module_code}}
                    </div>
                    <div class="col-md-3">
                        {{ consult.attendees.all()|length }}/{{ consult.num_of_students }} Filled
                    </div>
                    <div class="col-md-3">
                        {{ consult.consult_date }}<br>
                        {{ consult.start.strftime("%I:%M %p") }} - 
                        {{ consult.end.strftime("%I:%M %p") }}
                    </div>
                    <div class="col-md-3">
                        {{ consult.venue }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <a href="update_class?consult_id={{consult.consult_id}}" class="btn btn-block btn-default" aria-label="Update">
                          <strong>Update</strong>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="delete_class/{{consult.consult_id}}" class="btn btn-block btn-default" aria-label="Update">
                          <strong>Delete</strong>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}